<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="DMTQ_Core:top_level" title="DMTQ" module="DMTQ_Core" sortOrder="999" resource="Magento_Backend::content"/>
        <add id="DMTQ_Core:setting" title="Setting" module="DMTQ_Core" sortOrder="100" resource="Magento_Backend::content" parent="DMTQ_Core:top_level" />
    </menu>
</config>
